/* Universal Styling */
* {
	box-sizing: border-box;
}

/* Native CSS Variables */

/* Header Styling */

/* Body Styling */

h1 {
	font-size: x-large;
}

/* List Styling */

/* Form Styling */

/* Grid Styling */

/* Link Styling */

/* Button Styling */

/* img Class Styling */

/* Footer Styling */

/* Table Styling */
.requests {
	border-collapse: collapse;
	text-align: center;
}
td,
th {
	border: 1px solid black;
	padding: 5px;
}

td {
	text-align: left;
}

/* Responsive Design */

/* Modal Styling */
