/* Universal Styling */
* {
	box-sizing: border-box;
}

/* Native CSS Variables */

/* Header Styling */

/* Body Styling */
body {
	background-color: #4b5320;
	padding: 25px;
}

h1 {
	font-size: x-large;
}

/* List Styling */

/* Form Styling */

/* Grid Styling */

/* Link Styling */

/* Button Styling */

/* img Class Styling */

/* Footer Styling */

/* Table Styling */

/* Responsive Design */

/* Modal Styling */
